html {
  min-height: -webkit-fill-available;
}

html,
html body,
html body[style] {
  min-height: 100vh;
  @media only screen and (max-device-width: 1024px) {
    min-height: -webkit-fill-available;
  }
}

body {
  display: flex;
}

#__next {
  flex: 1;
}

html,
body,
* {
  text-rendering: optimizeLegibility;
}
