:root,
body,
* {
  text-rendering: optimizeLegibility;
}

#__next {
  height: 100vh;
  width: 100vw;
  height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
  width: calc(100vw - env(safe-area-inset-right) - env(safe-area-inset-left));
}
